.fixed-ui{
	display: flex;
	position: fixed;
	width: auto;
	height: 65rem;
	top: 5%; left: 0;

	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	z-index: 5;

	user-select: none;
	pointer-events: none;
	//border: 1px solid white;
	//border-left: none;

	img {
		width: auto;
	}

	&.out{
		top: -100rem;
	}

	.logo, .openMenuBtn, .closeMenuBtn, .phoneNumber > a{
		pointer-events: auto;
	}

	.button-container, .logo-container {
		display: flex;
	}
	
	.button-container {

		width: 65rem;
		height: 100%;

		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;

		background: #10CFCF;
		//border-right: 1px solid white;

		transition: 240ms all;

		.closeMenuBtn, .openMenuBtn{
			cursor: pointer;
			width: 50rem;
			&.hidden{
				display: none;
			}
		}

		.openMenuBtn {
			transform: scale(-1, 1);
		}

		.closeMenuBtn{
			width: 30rem;
		}

		&.close {
			background: #F55A51;
		}
	}
	.logo-container {

		width: auto;
		height: 100%;
		padding: 0 30rem;

		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;

		background: #2e2e2e;

		.logo, .isotipo {
			display: inline-block;
		}
		.logo{
			cursor: pointer;
			//width: 50rem;
			height: 28rem;
			margin-right: 10rem;
			img{
				height: 100%;
			}
		}
		.isotipo{
			height: 26rem;
			overflow: hidden;
			img{
				height: 100%;
				@include transition(transform 600ms);
			}
		}
	}
	// .phoneNumber{
	// 	position: absolute;
	// 	top: 50%; left: 50%;
	// 	transform: translate3d(-50%, -50%, 0);
	// 	width: auto;
	// 	height: 22rem;
	// 	color: white;
	// 	font-weight: lighter;
	// 	font-size: 16rem;
	// 	a {
	// 		cursor: pointer;
	// 		transition: color 100ms ease-in-out;
	// 		&:hover {
	// 			color: #10cfcf;
	// 		}
	// 		*{
	// 			display: inline-block;
	// 			vertical-align: middle;
	// 		}
	// 		img{
	// 			width: 22rem;
	// 			height: 22rem;
	// 			max-width: 22rem;
	// 			max-height: 22rem;
	// 			margin-right: 5rem;
	// 		}
	// 		p{
	// 			margin: 0 0 1rem 0;
	// 			padding: 0;
	// 		}
	// 	}
	// }
	//mobile
	@media (min-width: 300px) and (max-width: 740px){
		height: 65rem;
		.logo-container {
			padding: 0 20rem;
			.logo {
				margin-right: 0;
			}
			.isotipo {
				display: none;
			}
		}
	}
}