#landing-section{
	//background-color: red;
	width: 100%; height: 100%;

	@mixin title-font {
		font-family: 'KelsonSans', $font-stack;
		font-weight: bold;
		text-transform: uppercase;
	}

	@mixin landing-section-link {
		display: inline-block;
		width: auto;
		height: auto;
		//margin-top: 30rem;
		padding: 12rem 20rem;
		font-family: 'Roboto', $font-stack;
		font-weight: bold;
		font-size: 20rem;
		color: $darkGrey;
		background: white;
		border: 1px solid white;
		text-transform: uppercase;
		transition: all 300ms;
		&:hover {
			color: white;
			background: transparent;
		}
		@media (min-width: 320px) and (max-width: 740px){
			padding: 8rem 12rem;
			font-size: 16rem;
		}
	}

	p {
		margin: 0;
		padding: 0;

		font-family: 'Roboto', $font-stack;
		font-weight: normal;
		font-size: 16rem;
		line-height: 35rem;
		letter-spacing: 1px;
	}

	.content{
		width: 100%;
		height: 100%;
		
		.landing-container-1 {

			display: flex;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0 8% 4.5% 8%;

			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: flex-end;
			align-content: flex-end;

			overflow: visible;
		
			background-color: $darkGrey;
			background-image: url("../assets/images/landing_holo_engine.jpg");
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: cover;

			.content {
		
				display: block;
				width: auto;
				height: auto;
				margin: 0;
				padding: 0;
	
				ul {
	
					display: block;
					position: relative;
					width: auto;
					height: auto;
					margin: 0;
					padding: 0;
		
					li {
		
						display: inline-block;
						position: relative;
						width: auto;
						height: auto;
						margin: 0 20rem 0 0;
						padding: 0;
		
						a {
		
							letter-spacing: 1px;
							text-decoration: underline;
		
						}
		
					}
		
				}
		
				.text-1, .text-2 {
		
					display: block;
					//position: relative;
					width: auto;
					height: auto;
					margin: 0;
					padding: 0;

					@include title-font;
					font-size: 60rem;

				}

				.text-1 {
					
					margin-top: 60rem;

					//white-space: nowrap;

				}

				.text-2 {

					color: transparent;
					-webkit-text-stroke-width: 1rem;
					-webkit-text-stroke-color: white;

				}

				.text-3 {

					text-align: right;

					font-family: 'Roboto', $font-stack;
					font-weight: normal;
					font-size: 18rem;
					line-height: 37rem;
					letter-spacing: 1px;

				}
	
			}

			.dividing-line {

				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: 1px;
				height: 60rem;

				background: white;

			}
		
		}

		.landing-container-2 {

			display: flex;
			width: 100%;
			margin: 0;
			padding: 160rem 8%;

			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			align-content: center;

			.grid-container {

				display: grid;
				width: 100%;
				grid-template-columns: 50% 50%;
				grid-template-rows: auto auto;
				grid-template-areas: 
					"title title"
					"column1 column2";
				//justify-items: start;
				align-items: center;

				.container-title {

					display: block;
					//width: 100%;

					margin-bottom: 60rem;

					text-align: center;

					grid-area: title;

					.index, .text {

						@include title-font;

						display: inline-block;

					}

					.index {
						margin-right: 5rem;

						font-size: 14rem;
						vertical-align: top;
					}

					.text {

						font-size: 55rem;

						span {
							color: transparent;
							-webkit-text-stroke-width: 1rem;
							-webkit-text-stroke-color: white;
						}
						
					}

				}

				.column-1 {

					width: 100%;
					padding-right: 100rem;

					grid-area: column1;
					//justify-self: end;

					// p {
					// 	margin-bottom: 30rem;
					// }

					// .button-container {

					// 	display: block;
					// 	text-align: left;

					// 	a {
					// 		@include landing-section-link;
					// 	}

					// }

				}

				.column-2 {

					width: 100%;

					grid-area: column2;

					.auto-carousel {

						display: block;
						width: 100%;
						height: 56.25%;
						padding-top: 56.25%;
						
						//border: 1px solid white;

						.auto-carousel-img {

							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;

							object-fit: cover;
							opacity: 0;

							&.active {
								opacity: 1;
							}

						}

					}
				}

			}

			.dividing-line {

				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: 2vw;
				height: 1px;

				background: white;

			}

		}

		.landing-container-3 {

			display: flex;
			width: 100%;
			margin: 0;
			padding: 160rem 8%;

			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			align-content: center;

			.container-title {

				display: block;

				text-align: center;

				.index, .text {

					@include title-font;

					display: inline-block;

				}

				.index {

					margin-right: 5rem;

					font-size: 14rem;
					vertical-align: top;

				}

				.text {

					font-size: 55rem;

					&:last-child {

						display: block;

					}

					span {
						color: transparent;
						-webkit-text-stroke-width: 1rem;
						-webkit-text-stroke-color: white;
					}
					
				}

			}

			.dividing-line {

				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: 2vw;
				height: 1px;

				background: white;

			}

		}

		.landing-container-4 {

			display: flex;
			width: 100%;
			//height: 120%;
			margin: 0;
			padding: 160rem 0;

			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			align-content: center;

			.grid-container {

				display: grid;
				width: 100%;
				grid-template-columns: 100%;
				grid-template-rows: auto auto auto;
				grid-template-areas: 
					"column2"
					"carousel"
					"column1";
				//justify-items: start;
				//align-items: start;

				#landing-work-carousel {

					grid-area: carousel;

					display: block;
					width: 100%;
					//height: 600rem;
					//margin-bottom: 60rem;
					margin: 10rem 0 0 0;

					* {
						-webkit-user-select: none; /* Safari 3.1+ */
						-moz-user-select: none; /* Firefox 2+ */
						-ms-user-select: none; /* IE 10+ */
						user-select: none; /* Standard syntax */
					}

					img {

						pointer-events: none;

					}

					.wrapper {

						display: flex;
						width: 100%;

						flex-wrap: nowrap;
						justify-content: flex-start;
						align-items: center;
						align-content: center;

						.project-container {

							display: flex;

							width: 50vw;
							min-width: 50vw;
							padding-top: 38%;

							flex-wrap: nowrap;
							justify-content: center;
							align-items: center;
							align-content: center;

							.project {

								display: block;
								position: absolute;
								top: 50%; 
								left: 50%;
								transform: translate3d(-50%, -50%, 0);
								width: 70%;
								height: 60%;
								//margin: 0 50rem;
	
								border: 1px solid white;
	
								//transition: all 1s;
	
								& > img {
	
									display: block;
									width: 100%;
									height: 100%;
	
									object-fit: cover;
	
								}
	
								.info {
	
									display: flex;
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate3d(-50%, -50%, 0);
									width: 0%;
									height: 0%;
	
									flex-direction: column;
									flex-wrap: nowrap;
									justify-content: center;
									align-items: center;
									align-content: center;
	
									background: white;
									opacity: 0;
	
									* {
										display: block;
	
										color: $darkGrey;
										font-size: 16rem;
										font-family: 'Roboto', $font-stack;
										font-weight: bold;
									}

									.name, .logo, .link {
										opacity: 0;
									}
	
									.logo {
										width: 35%;
										height: 35%;
										margin: 5% 0;
										img {
											width: 100%;
											height: 100%;
											object-fit: contain;
										}
									}
	
									.link {
										text-decoration: underline;
									}
	
								}
	
							}

						}

					}

					&:hover {
						cursor: grab;
					}

				}

				.column-1 {
					
					grid-area: column1;

					width: 100%;
					padding: 0 8%;

					text-align: center;

					a {
						@include landing-section-link;
						margin: 0;
					}

				}

				.column-2 {

					grid-area: column2;

					width: 100%;
					padding: 0 8%;
					
					.container-title {

						display: block;

						text-align: center;
		
						.index, .text {
		
							@include title-font;
		
							display: inline-block;
		
						}
		
						.index {
		
							margin-right: 5rem;
		
							font-size: 14rem;
							vertical-align: top;
		
						}
		
						.text {
		
							font-size: 55rem;
		
							&:last-child {
		
								display: block;
		
							}
		
							span {
								color: transparent;
								-webkit-text-stroke-width: 1rem;
								-webkit-text-stroke-color: white;
							}
							
						}
		
					}

				}

			}

			.dividing-line {

				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: 2vw;
				height: 1px;

				background: white;

			}

		}

		.landing-container-5 {

			display: block;
			width: 100%;
			margin: 0;
			padding: 160rem 8% 180rem 8%;

			.grid-container {

				display: grid;
				width: 100%;
				grid-template-columns: auto;
				grid-template-rows: auto auto 50rem;
				grid-template-areas: 
					"title"
					"testimonials"
					"dots";
				justify-items: center;
				align-items: center;

				.container-title {

					grid-area: title;

					display: block;
					margin-bottom: 60rem;

					.index, .text {

						@include title-font;

						display: inline-block;

					}

					.index {
						margin-right: 5rem;

						font-size: 14rem;
						vertical-align: top;
					}

					.text {

						font-size: 55rem;
						
					}

				}

				.testimonials {

					grid-area: testimonials;

					display: flex;
					width: 100%;

					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-items: stretch;
					align-content: stretch;

					svg{
						display: block;
						width: 20rem;
						height: 20rem;
						.cls-1{
							fill:none;
							stroke:white;
							stroke-miterlimit:10;
							stroke-width:60rem;
							fill-rule:evenodd;
						}
					}

					.left-arrow {

						display: flex;
						width: 5%;
						
						flex-wrap: nowrap;
						justify-content: center;
						align-items: center;
						align-content: center;

						cursor: pointer;

					}

					.content {

						display: block;
						width: 100%;
						padding: 0 15%;

						.quotation-mark {
							position: absolute;
							top: 0;
							left: 15%;
							transform: translate3d(-25%, -20%, 0);
							font-family: 'Roboto', $font-stack;
							font-weight: bold;
							font-size: 180rem;
							color: #10CFCF;
							opacity: 0.2;
						}

						.statement {
							margin-bottom: 25rem;
							font-family: 'Roboto', $font-stack;
							font-weight: lighter;
							font-style: italic;
							font-size: 20rem;
							line-height: 39rem;
						}

						.client {
							margin-bottom: 8rem;
							font-family: 'Roboto', $font-stack;
							font-weight: bold;
							font-size: 20rem;
							letter-spacing: 1px;
						}

						.client-description {
							margin-bottom: 15rem;
							font-family: 'Roboto', $font-stack;
							font-weight: normal;
							font-size: 14rem;
							letter-spacing: 1px;
						}

						.service-line{
							display: block;
							width: 40rem;
							height: 2px;
							background: #10CFCF;
						}

					}

					.right-arrow {

						display: flex;
						width: 5%;
						
						flex-wrap: nowrap;
						justify-content: center;
						align-items: center;
						align-content: center;

						cursor: pointer;

						svg {
							transform: rotate(180deg);
						}

					}

				}

				.testimonial-dots {

					grid-area: dots;

					display: flex;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					align-content: center;
					grid-area: dots;

					.dot {

						display: inline-flex;
						width: 25rem;
						height: 50rem;
						flex-wrap: nowrap;
						justify-content: center;
						align-items: center;
						align-content: center;
						transition: all 100ms ease-in-out;
						cursor: pointer;

						&.active{

							.graphic{
								background: white;
							}

						}
						.graphic{

							margin: auto;
							width: 10rem;
							height: 10rem;
							border-radius: 50%;
							border: 1px solid white;

						}

					}

				}

			}

			.dividing-line {

				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				width: 2vw;
				height: 1px;

				background: white;

			}

		}

		.landing-container-6 {

			display: block;
			width: 100%;
			margin: 0;
			padding: 160rem 8%;

			.grid-container {

				display: grid;
				width: 100%;
				grid-template-columns: auto;
				grid-template-rows: auto auto;
				grid-template-areas: 
					"title"
					"platforms";
				justify-items: center;
				align-items: center;

				.container-title {

					grid-area: title;

					display: block;
					margin-bottom: 100rem;
	
					text-align: center;
	
					.index, .text {
	
						@include title-font;
	
						display: inline-block;
	
					}
	
					.index {
	
						margin-right: 5rem;
	
						font-size: 14rem;
						vertical-align: top;
	
					}
	
					.text {
	
						font-size: 55rem;
	
						&:last-child {
	
							display: block;
	
						}
	
						span {
							color: transparent;
							-webkit-text-stroke-width: 1rem;
							-webkit-text-stroke-color: white;
						}
						
					}
	
				}

				.platforms-container {

					grid-area: platforms;

					display: flex;
					width: 100%;
					margin: 0;

					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					align-content: center;

					.platform-1, .platform-2, .platform-3 {
						display: block;
						width: 320rem;
						max-width: 320rem;
						padding: 0 40rem;
					}

				}
			
			}

		}

	}

	@media (min-width: 320px) and (max-width: 740px){
		.content {

			p {
				font-size: 13rem;
				letter-spacing: 0.5px;
				line-height: 25rem;
			}

			.landing-container-1 {

				padding: 0 20rem;

				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;
				align-content: center;

				background-image: url("../assets/images/landing_holo_engine_mobile.jpg");
				background-position: 60% top;

				.content {

					margin-top: 50%;

					ul {
						display: none;
					}

					.text-1, .text-2 {
		
						font-size: 30rem;
			
					}

					.text-1 {
		
						position: relative;
						margin-top: 0;

						white-space: normal;
	
					}
	
					.text-2 {

						margin-top: 0;

					}

				}

				.dividing-line {

					display: none;

				}

			}

			.landing-container-2 {

				padding: 70rem 20rem;

				.grid-container {
					grid-template-columns: 100%;
					grid-template-rows: auto auto auto;
					grid-template-areas: 
						"title"
						"column2"
						"column1";
					align-items: start;

					.container-title {

						margin-bottom: 40rem;

						text-align: left;

						.text {

							font-size: 30rem;

						}

					}

					.column-1 {

						padding-right: 0;

						// .button-container {
						// 	text-align: center;
						// }
					}

					.column-2 {

						margin-bottom: 40rem;

					}

				}

				.dividing-line {

					width: 5vw;

				}

			}

			.landing-container-3 {

				//margin-top: 70rem;
				padding: 70rem 20rem;

				.container-title {

					.text {

						font-size: 30rem;

					}

				}

				.dividing-line {

					width: 5vw;

				}

			}

			.landing-container-4 {

				padding: 70rem 0;

				.grid-container {
					#landing-work-carousel {
						//margin-bottom: 40rem;
						margin: 20rem 0 20rem 0;
						.wrapper {
							.project-container {
								width: 70vw;
								min-width: 70vw;
								padding-top: 53.2%;
								.project {
									.info{
										.name, .link {
											display: none;
										}
										.logo {
											width: 60%;
											height: 60%;
											margin: 0;
										}
									}
								}
							}
						}
					}

					.column-1, .column-2 {
						padding: 0 20rem;
					}

					.column-2 {

						.container-title {

							//margin-bottom: 40rem;

							text-align: left;

							.text {
	
								font-size: 30rem;
	
							}
	
						}

					}

				}

				.dividing-line {

					width: 5vw;

				}

			}

			.landing-container-5 {

				padding: 70rem 20rem 70rem 20rem;

				.grid-container {

					.container-title {

						margin-bottom: 40rem;

						text-align: left;

						.text {

							font-size: 30rem;

						}

					}

					.testimonials {

						.left-arrow, .right-arrow {
							display: none;
						}

						.content{

							padding: 0 20rem;

							.quotation-mark {
								left: 20rem;
							}

							.statement {
								font-size: 15rem;
								letter-spacing: 0.5px;
								line-height: 25rem;
							}

							.client {
								margin-bottom: 4rem;
								font-size: 16rem;
								letter-spacing: 0.5px;
							}

							.client-description {
								margin-bottom: 11rem;
								font-size: 13rem;
								letter-spacing: 0.5px;
							}

						}

					}

				}

			}

			.landing-container-6 {

				padding: 70rem 20rem;

				.grid-container {

					.container-title {

						margin-bottom: 40rem;

						.text {
	
							font-size: 30rem;
	
						}
	
					}

					.platforms-container {

						flex-direction: column;

						.platform-1, .platform-2, .platform-3 {
							width: 80%;
						}

						.platform-1 {
							margin-bottom: 10rem;
						}

						.platform-2 {
							margin: 10rem 0;
						}

						.platform-3 {
							margin-top: 10rem;
						}

					}

				}
			
			}

		}

	}

	@media (min-width: 741px) and (max-width: 1024px){
		.content {
			.landing-container-1 {
				background-position: right top;
			}
			.landing-container-6 {

				.grid-container {

					.platforms-container {

						.platform-1, .platform-2 {
							margin-bottom: 40rem;
						}

					}

				}
			
			}
		}
	}

}
