.fixed-ui
	a.logo(href=".")
		img(src="./assets/images/ais_logo.svg")
	.isotipo
		img(src="./assets/images/ais_isotipo.svg", alt="")
	.openMenuBtn
		img(src="./assets/images/icon_menu.svg")
	.closeMenuBtn.hidden
		img(src="./assets/images/icon_x_menu.svg")
	.phoneNumber
		a(href="tel:15038194346")
			p (503) 819 - 4346
	.scrollbar