.footer
	.grid-container
		//- .email
		//- 	a(href="mailto:sales@augmentedislandstudios.com") sales@augmentedislandstudios.com
		//- .column-1
		//- 	.text #[span Portland, OR]811 SW 6th Avenue<br>Suite 1000<br>Portland, OR 97204
		//- 	.text #[span Cali, Colombia]Cra. 6 #2-61<br>Cali, Valle del Cauca
		//- .column-2
		//- 	a(href="https://www.facebook.com/augmentedislandstudios/?ref=br_rs")
		//- 		include ../assets/images/facebook-f.svg
		//- 	a(href="https://www.instagram.com/augmentedislandstudios/?hl=en")
		//- 		include ../assets/images/instagram.svg
		//- 	a(href="https://www.linkedin.com/company/augmented-island-studios/")
		//- 		include ../assets/images/linkedin-in.svg
		.footer-logo
			.logo
				include ../assets/images/ais_logo.svg
			.isotipo
				include ../assets/images/ais_isotipo.svg
		.location-portland
			.title Portland, OR
			.location 811 SW 6th Avenue<br>Suite 1000<br>Portland, OR 97204
		.location-cali
			.title Cali, Colombia
			.location Cra. 6 #2-61<br>Cali, Valle del Cauca
		.contact-info
			a(href="mailto:sales@augmentedislandstudios.com") sales@augmentedislandstudios.com
			a(href="tel:15038194346") +1 (503) 819 - 4346
		.submenu-our-services
			.title Our services
			ul
				li
					a(href="#work") Work
				li
					a(href="#about") About
				li
					a(href="#web") Web
		.submenu-news
			.title News
			ul
				li
					a(href="https://medium.com/@augmentedisland" target='_blank') Blog
				li
					a(href="#press") Press
		.submenu-contact-us
			.title Contact us
			ul
				li
					a(href="#contact") Contact
		.tao-logo
			.text Proud members of
			a(href="http://www.techoregon.org/" target='_blank')
				img(src="./assets/images/tao-logo.png")
		.social-media
			a(href="https://www.facebook.com/augmentedislandstudios/?ref=br_rs")
				include ../assets/images/facebook-f.svg
			a(href="https://www.instagram.com/augmentedislandstudios/?hl=en")
				include ../assets/images/instagram.svg
			a(href="https://www.linkedin.com/company/augmented-island-studios/")
				include ../assets/images/linkedin-in.svg
		.info-links
			a(href="") Sitemap
			.slash /
			.all-rights © 2020 Augmented Island Studios, LLC.

