#press-section.section.scrollable.hidden
    .content
        .posts-container
            .lineTitle
                h1 Press
            .column-1
                //- .post
                //-     img(src="./assets/images/cfm_7.jpg", alt="")
                //-     .date 08.07.2019
                //-     .title Wine Enthusiast launches its new interactive magazine
                //-     button Read more
                //- .post
                //-     img(src="./assets/images/cfm_7.jpg", alt="")
                //-     .date 08.07.2019
                //-     .title Wine Enthusiast launches its new interactive magazine
                //-     button Read more
            .column-2
                //- .post
                //-     img(src="./assets/images/cfm_7.jpg", alt="")
                //-     .date 08.07.2019
                //-     .title Wine Enthusiast launches its new interactive magazine
                //-     button Read more
                //- .post
                //-     img(src="./assets/images/cfm_7.jpg", alt="")
                //-     .date 08.07.2019
                //-     .title Wine Enthusiast launches its new interactive magazine
                //-     button Read more
            .column-3
                //- .post
                //-     img(src="./assets/images/cfm_7.jpg", alt="")
                //-     .date 08.07.2019
                //-     .title Wine Enthusiast launches its new interactive magazine
                //-     button Read more
                //- .post
                //-     img(src="./assets/images/cfm_7.jpg", alt="")
                //-     .date 08.07.2019
                //-     .title Wine Enthusiast launches its new interactive magazine
                //-     button Read more
            .load-button-container
                button Load more
        .post-content
            .article
                .top-bar
                    .top-bar-logo
                        include ../assets/images/ais_logo.svg
                        include ../assets/images/ais_isotipo.svg
                    .top-bar-close
                        include ../assets/images/icon_x_menu.svg
                .article-container
                    //- .title Wine Enthusiast launches its new interactive magazine
                    //- .date 08.07.2019
                    //- .article-content
                    //-     .article-image
                    //-         img(src="./assets/images/we_cover_ar.jpg", alt="")
                    //-     .article-text
                    //-         p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum, felis sit amet eleifend auctor, nunc mauris dictum augue, vitae fringilla nisi lectus quis ante. Aenean lacinia at sapien ut ultricies. Suspendisse et venenatis justo, non bibendum nibh. Vivamus velit ipsum, semper aliquet nulla sit amet, lobortis facilisis lacus.
                    //-     .article-image
                    //-         img(src="./assets/images/we_featured.jpeg", alt="")
                    //-     .article-text
                    //-         p Sed blandit a est sed pulvinar. Vivamus quis congue massa. Morbi et ornare enim. Sed blandit nisl at aliquet ullamcorper. In a turpis est. Donec ut nisi sit amet ligula efficitur aliquam sit amet ut erat. Ut id maximus urna, vel auctor nulla. 
                    .title
                    .date
                    .article-content
                    .next-article-button
                        button Next article
        //- .links
        //-     a.opt.menu-work(href="#work") See Our Work
        //-     a.opt.menu-contact(href="#contact") Contact Us
        //- .social
        //-     a.sn.facebook(href="https://www.facebook.com/augmentedislandstudios/?ref=br_rs" target="_blank") Facebook
        //-     a.sn.instagram(href="https://www.instagram.com/augmentedislandstudios/?hl=en" target="_blank") Instagram
        //-     a.sn.linkedin(href="https://www.linkedin.com/company/augmented-island-studios/" target="_blank") Linkedin
    include _footer.pug