#video-section.section.scrollable.hidden
    .cornerImage
        img(src="./assets/images/video_corner_photo.jpg", alt="")
    .content
        .videoText
            .lineTitle
                h1 About
            .highligh.
                Today’s digital landscape is more crowded than ever, it's easy to get lost in the shuffle.
            p.copy.
                With over 60 years of combined real time development experience, we serve a multitude of clients in a myriad of industries. We specialize in AR, VR and traditional video to help tell your story in groundbreaking ways. From ROI producing applications and curious + fun AR/VR development, to complex 3D simulations, as well as with heartfelt storytelling through video, we are able to set you apart from your competition.
            .video-text-container
                .video-text1
                    .small-highligh.
                        Description of our film services
                    p.copy.
                        We are storytellers who respect the value of traditional video for distilling complex concepts and sharing sincere stories. We have partnered with EMMY™-winning, California-based filmmaker Cyrus Sutton to share your visions through rich and potent content.
                    .small-highligh.
                        Why we’re different
                    p.copy.
                        Our videos push the limits of storytelling through our core values led formula. By leading with the values intrinsic to our clients we build storytelling and aesthetic palettes which distill a deeper messaging into engaging and fun videos.
                .video-text2
                    .small-highligh.
                        Cyrus Sutton Biography
                    p.copy.
                        Cyrus Sutton’s mission is to break down the barriers between ourselves and the world around us. In the sixteen years he’s been making films professionally he has leveraged the power of visual storytelling to bring his viewers inside seemingly disparate worlds and ideologies.<br><br>At 19 he was a writer for an EMMY™-winning TV show and at twenty-three years old he was the writer and cinematographer of an EMMY™ production focusing on indigenous wisdom in the face of the catastrophic 2005 tsunami which ravaged Southeast Asia. Sutton gleans inspiration and literacy from his fifteen year career as a professional surfer and adventurer. Today he divides his time between rural Washington where he has a four acre homestead and Los Angeles, California.
        .videowork-container
            .lineTitle
                h1 Work
            .videos-container
                <div style="padding:52.73% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/369722533" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/324784349" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                <div style="padding:52.73% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/369719555" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        .stats-container
            .lineTitle
                h1 Statistics
            .stats-highligh.
                ROI Statistics Video Marketing
            p.stat.
                81% of businesses use video as a marketing tool — up from 63% over the last year. (Hubspot)
            .stat-line
            p.stat.
                6 out of 10 people would rather watch online videos than television. (Google)
            .stat-line
            p.stat.
                Mobile video consumption rises by 100% every year. (Insivia)
            .stat-line
            p.stat.
                By 2022, online videos will make up more than 82% of all consumer internet traffic — 15 times higher than it was in 2017. (Cisco)
            .stat-line
    include _footer.pug