#thejourney.work-detail.section.scrollable.hidden
	.content
		.contentWrapper
			.projectLogo2
				img(src="./assets/images/detailedview-snad-logo.png", alt="")
			
			.copyWrapper
				h1.title The Journey AR Murals
				h2.client The Short North Arts District
				p.description.
					The Short North Arts District in Columbus, Ohio hired us to augment what was to become the largest augmented reality mural in the world; three walls with a total of 11,000 ft2. Beautifully painted by artists Eric Skotnes and Ryan Safarti, “The Journey” has been one of our most memorable projects yet. Working with such talented muralists and with such a massive surface was thrilling! If you feel like trying The Journey's augmented reality on your computer screen, please download the app here for iOS and here for Android. Then launch and point your camera at the photos below to launch the experience (note: different computer screens and lighting can affect the performance of the augmented reality).
			
			.photoWrapper
			
				.pair
					img.workPhoto.lazyload.half(src="./assets/images/lazyload-image2.png", data-src="./assets/images/thejourney_1.jpg", alt="")
					img.workPhoto.lazyload.half(src="./assets/images/lazyload-image2.png", data-src="./assets/images/thejourney_3.jpg", alt="")
				
				.pair
					img.workPhoto.lazyload.half(src="./assets/images/lazyload-image2.png", data-src="./assets/images/thejourney_2.jpg", alt="")
					img.workPhoto.lazyload.half(src="./assets/images/lazyload-image2.png", data-src="./assets/images/thejourney_4.jpg", alt="")
				
				.pair
					img.workPhoto.lazyload.half(src="./assets/images/lazyload-image2.png", data-src="./assets/images/thejourney_5.jpg", alt="")
					img.workPhoto.lazyload.half(src="./assets/images/lazyload-image2.png", data-src="./assets/images/thejourney_7.jpg", alt="")
				
				.pair
					img.workPhoto.lazyload.half(src="./assets/images/lazyload-image2.png", data-src="./assets/images/thejourney_6.jpg", alt="")
					img.workPhoto.lazyload.half(src="./assets/images/lazyload-image2.png", data-src="./assets/images/thejourney_8.jpg", alt="")
			.goBack.btn
				.container.rotated
					h2 Go Back