#surf-prescriptions.work-detail.section.scrollable.hidden
	.content
		.contentWrapper
			.projectLogo2
				img(src="./assets/images/surfprescriptions-logo.png", alt="")
			
			.copyWrapper
				h1.title Surf Prescriptions Web AR
				h2.client Surf Prescriptions
				p.description.
					Surf Prescriptions by Jeff ‘Doc’ Lausch, is a global surfboard design and shaping company based in Huntington Beach, California. Doc has been on the forefront of mixing art design and technology in surfboard construction for decades. Reinventing daily is Surf Prescriptions' mantra and it's the reason Doc continues to stay at the forefront of surfboard building. When he came to us for a web and tech transformation, we knew exactly what had to be done. No other surfboard company in the world had offered WebAR yet and he wanted to fulfill more orders while still doing so in a customized way. Studying Doc’s brand identity and understanding his business goals helped us work together so that we could innovate on this new layer of his business - custom surfboards online + AR. At the end of this project Doc had a new and redesigned website and every single one of his surfboards is now available to see in WebAR (no app downloads needed). Click here to experience Surf Prescriptions now: <a href='https://surfprescriptions.com/' target='_blank'>www.surfprescriptions.com</a>.
			
			.photoWrapper
				video(controls poster="./assets/images/surfrx_video_cover.jpg")
					source(src="./assets/media/surfrx_video_hb.mp4" type="video/mp4")
					Your browser does not support the video tag.
				
				img.workPhoto.lazyload(src="./assets/images/lazyload-image.png", data-src="./assets/images/surfrx_3.jpg", alt="")
				img.workPhoto.lazyload(src="./assets/images/lazyload-image.png", data-src="./assets/images/surfrx_4.jpg", alt="")
				img.workPhoto.lazyload(src="./assets/images/lazyload-image.png", data-src="./assets/images/surfrx_5.jpg", alt="")
				img.workPhoto.lazyload(src="./assets/images/lazyload-image.png", data-src="./assets/images/surfrx_6.jpg", alt="")
				img.workPhoto.lazyload(src="./assets/images/lazyload-image.png", data-src="./assets/images/surfrx_7.jpg", alt="")
				
			.goBack.btn
				.container.rotated
					h2 Go Back