#filters-lenses.work-detail.section.scrollable.hidden
    .content
        .contentWrapper
            .projectLogo
                //img(src="./assets/images/cfm_logo.svg", alt="")

            .copyWrapper
                h1.title Face Filters + Lenses
                h2.client Multiple clients
                p.description.
                    Facebook, Snapchat and Instagram have opened up a brand new way to reach current and potential customers for brands: filters and lenses. At Augmented Island Studios we can help you develop a filter/lens strategy that is significant, aesthetically pleasing and which tells a story about your brand and product. There are an innumerable amount of ways to take advantage of these new branded assets and the possibilities are only expanding as time passes. Below are a few examples of face filters/lenses we have created for some of our clients.

            .photoWrapper
                .pair.around
                    video(controls poster="./assets/images/filters_cover_monarch.jpg").half
                        source(src="./assets/media/filters_video_monarch.mp4" type="video/mp4")
                        Your browser does not support the video tag.

                    video(controls poster="./assets/images/filters_cover_cfm.jpg").half
                        source(src="./assets/media/filters_video_cfm.mp4" type="video/mp4")
                        Your browser does not support the video tag.
            
            .goBack.btn
                .container.rotated
                    h2 Go Back