#work-section.section.hidden
	.content
		.bg-container
			.workOpts
				//- img.one(src="./assets/images/comefindme.jpg", alt="")
				//- img.two.selected(src="./assets/images/monarch.jpg", alt="")
				//- img.three(src="./assets/images/carhartt.jpg", alt="")
				.bg.one
				.bg.eight
				.bg.seven
				.bg.two
				.bg.three
				.bg.four
				.bg.five
				.bg.six
			.labOpts.hidden
				//img.one.selected(src="./assets/images/comingsoon.jpg", alt="")
				.bg.one.selected
		.selector-container
			.work-projects.project-container
				.project.one(data-link="#comefindme")
					//.index 01
					h2.tag
					h1.name #[span 01]Come Find Me
					p.client Terry Crews & Ken Harvey

				.project.eight(data-link="#surfrx")
					//.index 01
					h2.tag Featured
					h1.name #[span 02]Surf Prescriptions Web AR
					p.client Surf Prescriptions

				.project.seven(data-link="#thejourney")
					//.index 01
					h2.tag
					h1.name #[span 03]The Journey AR Murals
					p.client The Short North Arts District
				
				.project.two(data-link="#g2")
					//.index 02
					h2.tag
					h1.name #[span 04]J.Lo and Bad Bunny Video
					p.client G2 Productions

				.project.six(data-link="#filterslenses") 
					//.index 06
					.tag
					h1.name #[span 05]Face Filters + Lenses
					p.client Multiple clients

				.project.three(data-link="#wineEnthusiast")
					//.index 03
					h2.tag
					h1.name #[span 06]Augmented Wine Cover
					p.client Wine Enthusiast

				.project.four(data-link="#carhartt") 
					//.index 04
					h2.tag
					h1.name #[span 07]Sangiovese AR
					p.client Carhartt
				
				.project.five(data-link="#monarch") 
					//.index 05
					.tag
					h1.name #[span 08]Monarch AR
					p.client Monarch Reign
					
			.lab-projects.project-container.hidden
				.project.one.selected
					.index 000
					h2.tag
					h1.name Coming soon
					p.client AR/VR/XR
		.work-type
			.container.rotated
				h2.opt.work-opt.selected Work
				h2.opt.lab-opt Lab
		//- .work-container
		//- 	.work initial for debugging
		//- footer
		//- 	h3 	All rights reserved to Augmented Island Studios 2018